@import "tailwindcss";
:root {
  --primary: #d5a82f;
  --accent: #f5dfa3;
  --secondary: #E18600;

}

.bg-accent{ background-color: var(--accent) !important;}
.bg-primary{ background-color: var(--primary) !important;}
.bg-amber-100 {
  background-color: #E18600;
}

.footer-style{
  width: 6% !important;
  height: 6% !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: var(--accent);
  color: #fff;
  border-radius: 8px;
  padding: 10px 16px;
}
button:hover {
  background-color: #b76e00; /* darker shade */
}
